docker-build.sh
docker-run.sh
docker-stop.sh
docker-save-image.sh
update-submodules.sh
docker-get-build-artefacts.sh
dockerfile
.dynamic/
.vagrant/
docker-build-artefacts/
docker.md
docker-images/
README.md
Vagrantfile
provision/
.git/
.gitignore
.gitmodules
